h1 {
    color: blue;
    background-color: grey;
}

.container{
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}
.box{
    background-color: yellow;
    border: 2px solid black;
}